extends layout

block content
    #{user.name}
    .container
        .container-fuild
            .row-fluid
                .span3.sidebar
                    include include/nav
                .span9
                    div(ng:view)
                        include include/form
