doctype 5
html(ng:app="users")
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-custom-0.3.0.min.js")
        script(src="/js/ui-bootstrap-custom-tpls-0.3.0.min.js")
        script(src="/js/users.js")
        script(src="/js/controller/users.js")
    body
        block content
