select.span12
    option(value='428_25922521_0_0') --
    option(value='428_25922521_25939204_0', data-metro='0') София
    option(value='428_25922521_25941710_0', data-metro='0') Видин
    option(value='428_25922521_25936827_0', data-metro='0') Попово
    option(value='428_25922521_25923461_0', data-metro='0') Банкя
    option(value='428_25922521_25939373_0', data-metro='0') Средец
    option(disabled='disabled')
    | ·······································································································································
    option(value='428_25922521_25922548_0', data-metro='0') Abdallar
    option(value='428_25922521_25922609_0', data-metro='0') Aekioy
    option(value='428_25922521_25922610_0', data-metro='0') Aftane
    option(value='428_25922521_25922944_0', data-metro='0') Arab Khodzha
    option(value='428_25922521_25922986_0', data-metro='0') Armutlar
    option(value='428_25922521_25923136_0', data-metro='0') Avlalii
    option(value='428_25922521_25923193_0', data-metro='0') Azapkioy
    option(value='428_25922521_25923368_0', data-metro='0') Bali Bunar
    option(value='428_25922521_25924105_0', data-metro='0') Blagodetelno
    option(value='428_25922521_536662419_0', data-metro='0') Botevgrad
    option(value='428_25922521_25924964_0', data-metro='0') Burgudzhikioy
    option(value='428_25922521_25925723_0', data-metro='0') Chinkodzha
    option(value='428_25922521_25925748_0', data-metro='0') Chitak
    option(value='428_25922521_25925856_0', data-metro='0') Chukur Alan
    option(value='428_25922521_25926059_0', data-metro='0') Daut Beglii
    option(value='428_25922521_25926275_0', data-metro='0') Dere-Kyoy
    option(value='428_25922521_25926992_0', data-metro='0') Douruklii
    option(value='428_25922521_25927674_0', data-metro='0') Elemenlii
    option(value='428_25922521_25927823_0', data-metro='0') Eni Makhle
    option(value='428_25922521_25928124_0', data-metro='0') Gabrovica
    option(value='428_25922521_25928336_0', data-metro='0') Gendzhali
    option(value='428_25922521_25928400_0', data-metro='0') Gerdeme
    option(value='428_25922521_25928695_0', data-metro='0') Golemo Schiwatschewo
    option(value='428_25922521_25929589_0', data-metro='0') Gyubel
    option(value='428_25922521_25929610_0', data-metro='0') Gyulyumanovo
    option(value='428_25922521_25929677_0', data-metro='0') Hambarlii
    option(value='428_25922521_25929863_0', data-metro='0') Indzheksarliy
    option(value='428_25922521_25932286_0', data-metro='0') K'ose Makhle
    option(value='428_25922521_25930528_0', data-metro='0') Kapaklya Eni K'oy
    option(value='428_25922521_25931027_0', data-metro='0') Kavlaklii
    option(value='428_25922521_25931068_0', data-metro='0') Kayatzik
    option(value='428_25922521_25931330_0', data-metro='0') Khamidie Tatar K'oy
    option(value='428_25922521_25932244_0', data-metro='0') Korodzhiy
    option(value='428_25922521_25932784_0', data-metro='0') Kruschewo
    option(value='428_25922521_25933047_0', data-metro='0') Kurudzhii
    option(value='428_25922521_25933212_0', data-metro='0') Kyuse Makhle
    option(value='428_25922521_25933531_0', data-metro='0') Ljubenova-Mahala
    option(value='428_25922521_25933545_0', data-metro='0') Ljulin
    option(value='428_25922521_25933939_0', data-metro='0') Malak Bokaluk
    option(value='428_25922521_25933965_0', data-metro='0') Malco Sarkovo
    option(value='428_25922521_25934380_0', data-metro='0') Meden Kladenets
    option(value='428_25922521_25934743_0', data-metro='0') Moderno Predgradie
    option(value='428_25922521_25935042_0', data-metro='0') Myuslyumleri
    option(value='428_25922521_25935183_0', data-metro='0') Neikowo
    option(value='428_25922521_25935288_0', data-metro='0') Ninechevo
    option(value='428_25922521_25935314_0', data-metro='0') Novachevo
    option(value='428_25922521_536662420_0', data-metro='0') Novi-han
    option(value='428_25922521_25935745_0', data-metro='0') Ormachevo
    option(value='428_25922521_25936185_0', data-metro='0') Pashekioy
    option(value='428_25922521_25937169_0', data-metro='0') Punduklii
    option(value='428_25922521_25937891_0', data-metro='0') Rushiza
    option(value='428_25922521_25937944_0', data-metro='0') Ryechitsa
    option(value='428_25922521_25938177_0', data-metro='0') Sara Yar
    option(value='428_25922521_25938201_0', data-metro='0') Sarkovo
    option(value='428_25922521_25938579_0', data-metro='0') Shalt-Breg
    option(value='428_25922521_25938604_0', data-metro='0') Shatkovitsa
    option(value='428_25922521_25938774_0', data-metro='0') Simen
    option(value='428_25922521_25938800_0', data-metro='0') Simniza
    option(value='428_25922521_25938982_0', data-metro='0') Slamino
    option(value='428_25922521_25939299_0', data-metro='0') Sotirja
    option(value='428_25922521_25939817_0', data-metro='0') Streltsi
    option(value='428_25922521_25939857_0', data-metro='0') Strupets
    option(value='428_25922521_25940083_0', data-metro='0') Sveti Iliya
    option(value='428_25922521_25940306_0', data-metro='0') Tarnawa
    option(value='428_25922521_25940438_0', data-metro='0') Tenevo
    option(value='428_25922521_25940678_0', data-metro='0') Torlak Makhle
    option(value='428_25922521_25941328_0', data-metro='0') Tyurkmeni
    option(value='428_25922521_25942017_0', data-metro='0') Vulcha Polyana
    option(value='428_25922521_25942027_0', data-metro='0') Vulchi Izvor
    option(value='428_25922521_25942284_0', data-metro='0') Wladimirowo
    option(value='428_25922521_25942299_0', data-metro='0') Woden
    option(value='428_25922521_25942642_0', data-metro='0') Yurtchii
    option(value='428_25922521_25942691_0', data-metro='0') Zagorets
    option(value='428_25922521_25942890_0', data-metro='0') Zhelyu Voyvoda
    option(value='428_25922521_25943060_0', data-metro='0') Zrem
    option(value='428_25922521_25924057_0', data-metro='0') Бистрица
    option(value='428_25922521_25924855_0', data-metro='0') Бухово
    option(value='428_25922521_25924957_0', data-metro='0') Бърдуче
    option(value='428_25922521_25941675_0', data-metro='0') Веселиново
    option(value='428_25922521_25929032_0', data-metro='0') Горни Богров
    option(value='428_25922521_25929338_0', data-metro='0') Градец
    option(value='428_25922521_25926752_0', data-metro='0') Долни Богров
    option(value='428_25922521_25926799_0', data-metro='0') Долни Лозен
    option(value='428_25922521_25926947_0', data-metro='0') Долно Вършило
    option(value='428_25922521_25942950_0', data-metro='0') Зимница
    option(value='428_25922521_25942973_0', data-metro='0') Златари
    option(value='428_25922521_25932755_0', data-metro='0') Крумово
    option(value='428_25922521_25933640_0', data-metro='0') Лозен
    option(value='428_25922521_25933767_0', data-metro='0') Люлин
    option(value='428_25922521_25934408_0', data-metro='0') Медвен
    option(value='428_25922521_25935251_0', data-metro='0') Николаево
    option(value='428_25922521_25935356_0', data-metro='0') Нови Искър
    option(value='428_25922521_25936738_0', data-metro='0') Полски Градец
    option(value='428_25922521_25936754_0', data-metro='0') Полско Пъдарево
    option(value='428_25922521_25936273_0', data-metro='0') Пчела
    option(value='428_25922521_25937814_0', data-metro='0') Роза
    option(value='428_25922521_25938778_0', data-metro='0') Симеоново
    option(value='428_25922521_25938871_0', data-metro='0') Ситово
    option(value='428_25922521_25938908_0', data-metro='0') Скалица
    option(value='428_25922521_25939004_0', data-metro='0') Слатина
    option(value='428_25922521_25939225_0', data-metro='0') Сокол
    option(value='428_25922521_25939545_0', data-metro='0') Стара река
    option(value='428_25922521_25939684_0', data-metro='0') Стоил войвода
    option(value='428_25922521_25937971_0', data-metro='0') Съдиево
    option(value='428_25922521_25940467_0', data-metro='0') Тервел
    option(value='428_25922521_25940710_0', data-metro='0') Трънково
    option(value='428_25922521_25941221_0', data-metro='0') Търнава
    option(value='428_25922521_25941439_0', data-metro='0') Устрем
    option(value='428_25922521_25935954_0', data-metro='0') Устрем
    option(value='428_25922521_25942369_0', data-metro='0') Ябланово
