.well(ng:controller="NavCtrl")
     ul.nav.nav-list
          li.nav-users
               a(href='#')
                    i.icon-search
                    | Search
          li.nav-header
               | Activity
          li.nav-visits
               a(href='#/users/42/visits')
                    i.icon-user
                    | Visits
          li.nav-flashes
               a(href='#/users/42/flashes')
                    i.icon-heart
                    | Flashes
          li.nav-messages
               a(href='#/users/42/messages')
                    i.icon-comment
                    | Messages
          li.nav-header
               | My Profile
          li.nav-user-edit
               a(href='#/users/42/edit')
                    i.icon-info-sign
                    | Information
          li.nav-user-images
               a(href='#')
                    i.icon-camera
                    | Pictures
